.hidden {
  display: none;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

.delButton {
  background-color: aliceblue;
  color: #1e6b7b;
  position: relative;
  border: none;
  display: inline-block;
  padding: 3px 3px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1pt;
}

ul {
  list-style: none;
}

.todo-box {
  padding: 50px 50px;
  background-color: darkgray;
}
